* text eol=lf

# Count Markdown files (including README and docs) in GitHub Linguist statistics.
*.md linguist-language=Markdown linguist-detectable=true

*.png -text
*.jpg -text
*.ico -text
*.gif -text
*.webp -text
